{% extends 'base.html.twig' %}

{% block title %}- Смяна на км/ч м/ч/{% endblock %}

{% block body %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{{ path('garage_dashboard') }}">Начало</a>
    </li>
    <li class="breadcrumb-item active">Смяна км/м/ч</li>
</ol>
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<div class="card mx-auto mt-5">
    <div class="card-header">Смяна км/м/ч</div>
    <div class="card-body">
        {{ form_start(form) }}
        <div class="form-row mb-2">
            <div class="col-md-12">
                {{ form_row(form.createdAt) }}
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="col-md-12">
                {{ form_row(form.vehicle) }}
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="col-md-6">
                {{ form_row(form.odometer) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.motoHours) }}
            </div>
        </div>
        <div class="form-row mb-2">
            <div class="col-md-6 text-center">
                <button class="btn btn-primary" type="submit">Потвърди</button>
            </div>
            <div class="col-md-6 text-center">
                <a href="{{ path('garage_dashboard') }}" class="btn btn-danger">Откажи</a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('assets/js/loadingoverlay.min.js') }}"></script>
        <script>
            $(document).ready(function () {
                $('#vehicle_details_vehicle').change(function () {
                    $.LoadingOverlay("show", {text: 'Зареждане...'});
                    let vehicleId = $(this).val();
                    $.ajax({
                        url: '/vehicle/odometer/getdetails/' + vehicleId,
                        success: function (data) {
                            let odometer = data.odometer;
                            let motoHours = data.moto_hours;
                            $('#vehicle_details_odometer').val(odometer);
                            $('#vehicle_details_motoHours').val(motoHours);
                            $.LoadingOverlay("hide");
                        },
                        error: function () {
                            $.LoadingOverlay('hide');
                        }
                    })
                })
            });
        </script>
    {% endblock %}
